/birdysis/__pycache__/
/birdysis/download/media/
/birdysis/download/__pycache__/
/birdysis/collect_data/__pycache__/
/birdysis/collect_data/userinfo.json
/birdysis/collect_data/all_ids.json
/birdysis/collect_data/all_ids.json
/birdysis/download/api_keys.json
/tests/media
/tests/all_ids.json
/tests/api_keys.json
/tests/userinfo.json
/tests/geckodriver.log

